.annu {
    height: 2%;

    width: 100%;

}

.annu1 {
    height: 5%;

    margin-left: 20%;
}

.annu2 {
    margin-left: 20%;

    height: 5%;
    width: 100%;


}




.annu3 {
    margin-left: 20%;

    height: 5%;
    width: 100%;


}


.r1 {
    color: white;
    height: 1%;
    width: 3%;
    background-color: green;
}



.r2 {
    border-style: solid;
    border-color: grey;
    height: 20px;
    width: 2%;
    border-width: 1px;
    justify-content: left;


}

p {
    display: flex;
    text-align: left;
}