body{
  margin: 0px;
  font-family: sans-serif;
  background-color: #f2f2f2;
}
.page2 h4{
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-top: 10px;
  color: red;
}
.page2 .product{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.page2 .content{
  width: 18% ;
  margin: 10px ;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0,0.22 );
  transition: -4s;
  background-color: #f2f2f2;
}
.page2 .content :hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.22);
  transform: translate(0px,-8px);
}
.page2 img{
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}

